.gmail_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201f30;
    padding: .6rem;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    /* transition: .3s; */
}

.gmail_button:hover{
    background-color: black;
}

.gmail_button img{
    width: 30px;
    margin-right: 15px;
}

.gmail_button span{
    color: white;
    font-size: 16px;
    font-weight: 500;
}